header {
	height: 800px;
	background: url(../../images/photos/image-header.jpg) center/cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 8.5rem;
	nav {
		color: $White;
		padding: 5rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.hamburger-menu {
			display: none;
			@media only screen and (max-width: 1225px) {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin: -2rem;
				height: 2.4rem;
			}
		}
		.logo {
			@media only screen and (max-width: 1225px) {
				margin: -2rem;
			}
			height: 3rem;
			width: 15rem;
			align-self: flex-start;
		}
		.navigation {
			@media only screen and (max-width: 1225px) {
				display: none;
			}
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			gap: 7rem;
			transition: ease-in-out 0.4s;
			&__menu {
				.about,
				.services,
				.projects {
					color: $White;
					font-size: 1.5rem;
				}
				justify-items: flex-start;
				font-family: "Barlow";
				font-size: 1.5rem;
			}
			&__btn {
				.contact {
					text-align: center;
					color: $Very-dark-desaturated-blue;
					font-family: "Fraunces";
					text-transform: uppercase;
					font-size: 1.5rem;
					padding: 2rem 3rem;
					border-radius: 8rem;
					background-color: $White;
					&:hover {
						color: $White;
						background: hsla(0, 0%, 100%, 0.25);
					}
				}
			}
		}
	}
	h1 {
		@media only screen and (max-width: 1225px) {
			font-size: 4rem;
			text-align: center;
			letter-spacing: 1rem;
			margin-top: -2rem;
		}
		font-family: "Fraunces", serif;
		font-size: 6rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.5rem;
		color: $White;
	}
	.arrow-down {
		@media only screen and (max-width: 1225px) {
			margin-top: 2.5rem;
			height: 18rem;
			width: 5rem;
		}
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 107.48px;
	}
	.menu-mobile {
		display: none;
		@media only screen and (max-width: 400px) {
			display: flex;
			justify-content: center;
			align-items: center;
			.polygon {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 3.2rem;
				position: absolute;
				width: 33rem;
				height: 55rem;
				clip-path: polygon(88% 16%, 100% 0, 100% 75%, 100% 76%, 0 76%, 0 14%, 100% 14%);
				background-color: $White;
				z-index: 0;
				margin-top: 25rem;
				&__hamburger-menu {
					font-family: "Barlow";
					font-size: 2rem;
					z-index: 1;
					.mobile-about:link,
					.mobile-about:visited,
					.mobile-services:link,
					.mobile-services:visited,
					.mobile-projects:link,
					.mobile-projects:visited {
						color: $Grayish-blue;
					}
				}
				&__hamburger-btn {
					text-align: center;
					color: $Very-dark-desaturated-blue;
					font-family: "Fraunces";
					text-transform: uppercase;
					font-size: 1.5rem;
					padding: 2rem 3rem;
					border-radius: 8rem;
					background-color: $yellow;
					z-index: 1;
					margin-bottom: 5rem;
					.mobile-contact:link,
					.mobile-contact:visited {
						color: black;
					}
				}
			}
		}
	}
}
